---
import { Picture } from "astro:assets";
import profile from "../assets/me.jpg";
import {
workExperienceData,
type WorkExperience,
} from "../data/work-experience";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Sobre mí" navbarActiveItemID="about">
  <section aria-label="Sección de información personal pública sobre Alfonso">
    <div class="flex flex-row">
      <div class="avatar align-center">
        <div
          class="w-32 rounded-full ring ring-info ring-offset-base-100 ring-offset-2"
        >
          <Picture
            widths={[400]}
            src={profile}
            alt="Foto del autor del sitio"
            class="w-full mb-6 shadow-md"
          />
        </div>
      </div>
      <div>
        <h1
          class="md:text-3xl text-2xl font-black mb-6 text-white drop-shadow-lg"
        >
          🤠 ¡Hola! Soy Alfonso
        </h1>
        <p class="">Ingeniero backend</p>
        <p>Me gustan los gatos</p>
      </div>
    </div>

    <ul class="steps steps-vertical mt-4">
      {
        workExperienceData.map((workItem: WorkExperience) => (
          <li data-content={workItem.listIcon} class="step step-neutral">
            <div
              class={
                workItem.active
                  ? "flex flex-col bg-zinc-900 shadow-2xl rounded-lg my-2 pb-4"
                  : "flex flex-col bg-gray-900 shadow-2xl rounded-lg my-2 pb-4"
              }
            >
              <div
                class={
                  workItem.active
                    ? "bg-zinc-800 py-2 px-6 rounded-tr-lg rounded-tl-lg"
                    : "bg-gray-800 py-2 px-6 rounded-tr-lg rounded-tl-lg"
                }
              >
                <span class="font-bold float-left text-gray-200">
                  {workItem.title} @ {workItem.company}
                </span>
                <span class="font-bold text-green-400 float-right">
                  {workItem.startDate} - {workItem.endDate}
                </span>
              </div>
              <div class="text-sm py-4 px-6">
                <div class="flex flex-row text-gray-200">
                  <span class="font-bold">📍 {workItem.location}</span>
                  <span class="font-bold ml-8">
                    🌐{" "}
                    <a href={workItem.website} target="_blank">
                      {workItem.website}
                    </a>
                  </span>
                </div>
                <p class="mt-2 text-left">{workItem.description}</p>
              </div>
              <div class="mt-2">
                {workItem.technologies.map(
                  (
                    technology
                  ) => (
                    <span class="kbd kbd-sm hover:shadow-xl hover:scale-110 duration-150 mx-[0.3rem]">{`${technology}`}</span>
                  )
                )}
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
