---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  navbarActiveItemID,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es" class="bg-base-300">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body
    class="xl:w-[50rem] lg:w-3/5 md:w-4/5 sm:w-full md:px-5 px-12 mt-10 mx-auto font-mono"
  >
    <div>
      <Header title={SITE_TITLE} navbarActiveItemID={navbarActiveItemID} />
      <main id="main">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
